#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_clean:
	

override_dh_auto_build:
	

override_dh_auto_install:
	dh_install
	mkdir -p $(CURDIR)/debian/perfsonar-logstash/usr/lib/perfsonar/logstash/java/maven
	mvn -Dmaven.repo.local=$(CURDIR)/debian/perfsonar-logstash/usr/lib/perfsonar/logstash/java/maven -f $(CURDIR)/debian/perfsonar-logstash/usr/lib/perfsonar/logstash/java/pom.xml dependency:resolve