Source: perfsonar-logstash-output-plugin
Maintainer: perfSONAR developers <debian@perfsonar.net>
Section: misc
Priority: optional
Standards-Version: 4.3.0
Build-Depends: debhelper (>= 10)
Homepage: http://www.perfsonar.net

Package: perfsonar-logstash-output-plugin
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, logstash-oss
Description: perfsonar logstash output plugin for opensearch
 A package that installs the perfSONAR logstash output plugin necessary to send data to opensearch and/or opendistro.
