Source: perfsonar-logstash
Maintainer: perfSONAR developers <debian@perfsonar.net>
Section: misc
Priority: optional
Standards-Version: 4.3.0
Build-Depends: debhelper (>= 10)
Homepage: http://www.perfsonar.net

Package: perfsonar-logstash
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python3, python3-yaml, logstash-oss (= 7.12.1)
Description: perfsonar logstash pipeline
 A package that installs the perfSONAR logstash pipeline for enriching measurements prior to storage.
