{% if "debug" in output_plugins %}
output {
    #-- For testing: To write all output to screen
    stdout { codec => rubydebug { metadata => true } }
}
{% else %}
output {
    #If has [test][type] create index using that in name.
    # Also creates index template on logstash startup
    if [test][type] {
{% if "elastic" in output_plugins %}
        elasticsearch {
{% else %}
        opensearch {
{% endif %}
            hosts => ["${elastic_output_host}"]
            ssl_certificate_verification => false
{% if elastic_output_cacert is defined %}
            ssl => "true"
            cacert => "${elastic_output_cacert}"
{% endif %}
{% if elastic_output_use_auth is defined and elastic_output_use_auth %}
            user => "${elastic_output_user}"
            password => "${elastic_output_password}"
{% endif %}
{% if elastic_output_ilm is defined and elastic_output_ilm %}
            ilm_enabled => "true"
            ilm_pattern => "{now/d}-000001"
            ilm_rollover_alias => "pscheduler"
            ilm_policy => "pscheduler"
{% else %}
            index => "pscheduler_%{[test][type]}-%{+YYYY.MM.dd}"
{% endif %}     
{% if elastic_output_template is defined and elastic_output_template %}
            template => "/etc/perfsonar/logstash/index_template-pscheduler.json"
            template_name => "pscheduler"
            template_overwrite => true
{% endif %}
        }
    }
}
{% endif %}
