Package: perfsonar-logstash
Version: 1.0-1
Architecture: amd64
Maintainer: Fernanda Barros <fbarros@ufba.br>
Installed-Size: 27
Depends: libc6 (>= 2.2.5)
Section: misc
Priority: optional
Description: perfsonar logstash
 A package that installs the perfSONAR logstash pipeline for enriching measurements prior to storage.
